# Pandas学习笔记

![panadas图标](https://extraimage.net/images/2019/09/23/49c74b414c5244690b0adbd47285400f.png)

## 1.  Pandas是什么

> - Pandas是一个强大的分析结构化数据的工具集；
> - 它的使用基础是Numpy（提供高性能的矩阵运算）(提供了高级的数据结构与工具)；
> - 用于数据挖掘和数据分析，同时也提供数据清洗功能。


对于pandas我们主要集中在以下几个方面：<br>
- 数据类型
- 数据读取
- 数据选择
- 数据删减
- 数据填充

# 2. Pandas基本数据结构

Pandas 的数据类型主要有以下几种，它们分别是：Series（一维数组），DataFrame（二维数组），Panel（三维数组），Panel4D（四维数组），PanelND（更多维数组）。其中 Series 和 DataFrame 应用的最为广泛，几乎占据了使用频率 90% 以上。

> - **series**:类似于Numpy中的ndarray,差别主要体现在两个方面：
  - - series中的数据可以是不同类型的，ndarray中的数据必须是同类型的；
  - - series的索引可以为字符型类型；
  
> Series 基本结构如下：

```python
    pandas.Series(data=None, index=None，dtype=None,Name=None)
```
- - 其中，data 可以是字典，或者NumPy 里的 ndarray 对象等。index 是数据索引，索引是 Pandas 数据结构中的一大特性，它主要的功能是帮助我们更快速地定位数据。  
  
> - **dataframe**: 具有行索引和列索引的数据，类似于关系数据库中的关系数据。你可以把 DataFrame 看成是 Series 的扩展类型，它仿佛是由多个 Series 拼合而成。它和 Series 的直观区别在于，数据不但具有行索引，且具有列索引。

![dataframe](https://doc.shiyanlou.com/courses/uid214893-20190531-1559284057250)

> 使用pandas必须首先导入pandas库 import pandas as pd

## 2.1 Series

In [24]:

import numpy as np
import pandas as pd

print(pd.__version__)

mine=pd.Series(np.random.randint(80,100,5),index=["Math","PE","English","Chinese","Physics"])
print(mine)

0.24.2
Math       90
PE         83
English    88
Chinese    98
Physics    80
dtype: int32

In [30]:
# 查看索引值
print(mine.index)

Index(['Math', 'PE', 'English', 'Chinese', 'Physics'], dtype='object')

In [28]:
#series 获取数据的方法同numpy类似，但其不支持负索引
print(mine[0])
print(mine.Math)

90
90


**练习题1：** <br>
如上所示，该 Series 的数据值是 10, 20, 30，索引为 a, b, c，数据值的类型默认识别为 int64。你可以通过 type 来确认 s 的类型。

## 2.2 DataFrame
<br>
DataFrame的基本用法如下：


```python
    pandas.DataFrame(data=None, index=None, columns=None)                    
```

区别于 Series，其增加了 columns 列索引。DataFrame 可以由以下多个类型的数据构建：

- 一维数组、列表、字典或者 Series 字典。
- 二维或者结构化的 numpy.ndarray。
- 一个 Series 或者另一个 DataFrame。

In [41]:
import pandas as pd

df = pd.DataFrame({'one': pd.Series([1, 2, 3]),
                   'two': pd.Series([4, 5, 6])})
print(df)

   one  two
0    1    4
1    2    5
2    3    6

In [46]:
cd = pd.DataFrame({'one':{0:1,1:2,2:3},
              'two':{0:4,1:5,2:7}})
print(cd)

   one  two
0    1    4
1    2    5
2    3    7

In [8]:
import pandas as pd 

df = pd.DataFrame([{'one': 1, 'two': 4},
                   {'one': 2, 'two': 5},
                   {'one': 3, 'two': 6}])
print(df)

   one  two
0    1    4
1    2    5
2    3    6

**练习2：**
<br>
分别使用字典和多维字典数组构建两个DataFrame

In [12]:
# 利用numpy中的多维数组构建dataframe
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.binomial(100,0.8,(3,4)))
print(df)

df= pd.DataFrame(np.eye(5))
print(df)

    0   1   2   3
0  76  85  76  81
1  84  88  83  84
2  78  79  81  81
     0    1    2    3    4
0  1.0  0.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0
3  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  0.0  0.0  1.0

**练习3** 

请使用多维ndarry对象创建两个DataFrame

## Series 实际上可以被初略看出是只有 1 列数据的 DataFrame。当然，这个说法不严谨，二者的核心区别仍然是 Series 没有列索引。你可以观察如下所示由 NumPy 一维随机数组生成的 Series 和 DataFrame。

In [14]:
import numpy as np
import pandas as pd

# create Series
s=pd.Series(np.random.randint(90,100,5))
print(s)

#create dataframe
df=pd.DataFrame(np.random.randint(90,100,5))
print(df)

# pay more attention to the difference between the series and the dataframe list below

0    91
1    93
2    90
3    91
4    92
dtype: int32
    0
0  92
1  93
2  99
3  94
4  93

## 3. 数据的读取
<br>
我们想要使用 Pandas 来分析数据，那么首先需要读取数据。大多数情况下，数据都来源于外部的数据文件或者数据库。Pandas 提供了一系列的方法来读取外部数据，非常全面。

第一个函数是我们经常用到的读取CSV文件的函数：pd.read_csv(相对路径文件|文件的URL)

```python
    df = pd.read_csv("https://labfile.oss.aliyuncs.com/courses/906/los_census.csv")
```

In [17]:
df = pd.read_csv("https://labfile.oss.aliyuncs.com/courses/906/los_census.csv")
print(df.head())
print(df.tail(3))

   Zip Code  Total Population  Median Age  Total Males  Total Females  \
0     91371                 1        73.5            0              1
1     90001             57110        26.6        28468          28642
2     90002             51223        25.5        24876          26347
3     90003             66266        26.3        32631          33635
4     90004             62180        34.8        31302          30878

   Total Households  Average Household Size
0                 1                    1.00
1             12971                    4.40
2             11731                    4.36
3             15642                    4.22
4             22547                    2.73
     Zip Code  Total Population  Median Age  Total Males  Total Females  \
316     93560             18910        32.4         9491           9419
317     93563               388        44.5          263            125
318     93591              7285        30.9         3653           3632

     Total Households  Average Household Size
316              6469                    2.92
317               103                    2.53
318              1982                    3.67

DataFrame 是 Pandas 构成的核心。一切的数据，无论是外部读取还是自行生成，我们都需要先将其转换为 Pandas 的 DataFrame 或者 Series 数据类型。
<br>
基本原因在与pandas所有针对数据的操作都是基于series和dataframe这两种数据结构进行的。
在pandas中除了有pd.read_csv()这种从csv数据中获取数据的方法之外，还有：

In [49]:
import pandas as pd
help(pd.read_table)

Help on function read_table in module pandas.io.parsers:

read_table(filepath_or_buffer, sep=False, delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read general delimited file into DataFrame.

    .. deprecated:: 0.24.0
    Use :func:`pandas.read_csv` instead, passing ``sep='\t'`` if necessary.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default '\\t' (tab-stop)
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_table('data.csv')  # doctest: +SKIP

## 4. 基本操作

![DataFrame数据类型示意图](https://doc.shiyanlou.com/courses/uid214893-20190531-1559286555222)

>一个 DataFrame 结构大致由 3 部分组成，它们分别是列名称、索引和数据。
> - head()与tail():分别用于获取dataframe的首部或或尾部数据；
> - describe():快速获取数据集合中的统计特性；
> - values: 获取df的numpy形式，可以使用numpy中的方法对数据进行处理；
> - index与columns：分别获取数据中的行索引名与列索引名；
> - shape:获取数组的形状；

In [50]:
import numpy as np
import pandas as pd

df = pd.read_csv("https://labfile.oss.aliyuncs.com/courses/906/los_census.csv")

# display the first 5 rows of the data
print(df.head(5))

# display the last 5 rows of the dada
print(df.tail(5))

#display the statistics info for the data
print("************describe*************")
print(df.describe())
print("***************values*************************")

#transform df to ndarray
arr=df.values
print(arr)
print("***************type*************************")
print(type(arr))
print("**************index**************************")
# print the index names for the row and column separately
print(df.index)
print("**************columns**************************")
print(df.columns)

#print the shapse for the data
print(df.shape)

   Zip Code  Total Population  Median Age  Total Males  Total Females  \
0     91371                 1        73.5            0              1
1     90001             57110        26.6        28468          28642
2     90002             51223        25.5        24876          26347
3     90003             66266        26.3        32631          33635
4     90004             62180        34.8        31302          30878

   Total Households  Average Household Size
0                 1                    1.00
1             12971                    4.40
2             11731                    4.36
3             15642                    4.22
4             22547                    2.73
     Zip Code  Total Population  Median Age  Total Males  Total Females  \
314     93552             38158        28.4        18711          19447
315     93553              2138        43.3         1121           1017
316     93560             18910        32.4         9491           9419
317     93563               388        44.5          263            125
318     93591              7285        30.9         3653           3632

     Total Households  Average Household Size
314              9690                    3.93
315               816                    2.62
316              6469                    2.92
317               103                    2.53
318              1982                    3.67
************describe*************
           Zip Code  Total Population  Median Age   Total Males  \
count    319.000000        319.000000  319.000000    319.000000
mean   91000.673981      33241.341693   36.527586  16391.564263
std      908.360203      21644.417455    8.692999  10747.495566
min    90001.000000          0.000000    0.000000      0.000000
25%    90243.500000      19318.500000   32.400000   9763.500000
50%    90807.000000      31481.000000   37.100000  15283.000000
75%    91417.000000      44978.000000   41.000000  22219.500000
max    93591.000000     105549.000000   74.000000  52794.000000

       Total Females  Total Households  Average Household Size
count     319.000000        319.000000              319.000000
mean    16849.777429      10964.570533                2.828119
std     10934.986468       6270.646400                0.835658
min         0.000000          0.000000                0.000000
25%      9633.500000       6765.500000                2.435000
50%     16202.000000      10968.000000                2.830000
75%     22690.500000      14889.500000                3.320000
max     53185.000000      31087.000000                4.670000
***************values*************************
[[9.1371e+04 1.0000e+00 7.3500e+01 ... 1.0000e+00 1.0000e+00 1.0000e+00]
 [9.0001e+04 5.7110e+04 2.6600e+01 ... 2.8642e+04 1.2971e+04 4.4000e+00]
 [9.0002e+04 5.1223e+04 2.5500e+01 ... 2.6347e+04 1.1731e+04 4.3600e+00]
 ...
 [9.3560e+04 1.8910e+04 3.2400e+01 ... 9.4190e+03 6.4690e+03 2.9200e+00]
 [9.3563e+04 3.8800e+02 4.4500e+01 ... 1.2500e+02 1.0300e+02 2.5300e+00]
 [9.3591e+04 7.2850e+03 3.0900e+01 ... 3.6320e+03 1.9820e+03 3.6700e+00]]
***************type*************************
<class 'numpy.ndarray'>
**************index**************************
RangeIndex(start=0, stop=319, step=1)
**************columns**************************
Index(['Zip Code', 'Total Population', 'Median Age', 'Total Males',
       'Total Females', 'Total Households', 'Average Household Size'],
      dtype='object')
(319, 7)

## 5. 数据选择

**数据选择**：在数据预处理过程中，我们往往会对数据集进行切分，只将需要的某些行、列，或者数据块保留下来，输出到下一个流程中去。这也就是所谓的数据选择，或者数据索引。

### 5.1 基于数字的索引

在dataframe中，如果没有自己设定索引，pandas 会默认从0开始以数字形式作为行索引，并以第一行作为列对应的标签。标签数字索引用到的函数是：
```python
    pd.iloc(数字索引)
```
   该方法能够接收的参数有：
   
   - 整数：pd.iloc[5] 
   - 数组：pd.iloc([1,2,3])
   - 布尔数组
   - 返回索引值的函数或参数

In [53]:
import numpy as np
import pandas as pd

df = pd.read_csv("https://labfile.oss.aliyuncs.com/courses/906/los_census.csv")

#选择一行数据
oneRow=df.iloc[5]
print(oneRow)

Zip Code                  90005.0
Total Population          37681.0
Median Age                   33.9
Total Males               19299.0
Total Females             18382.0
Total Households          15044.0
Average Household Size        2.5
Name: 5, dtype: float64

In [51]:
# 利用切片选择一组数据

mulRow=df.iloc[1]
print(mulRow)

Zip Code                  90001.0
Total Population          57110.0
Median Age                   26.6
Total Males               28468.0
Total Females             28642.0
Total Households          12971.0
Average Household Size        4.4
Name: 1, dtype: float64

### 那么选择1,3,5行，是不是 df.iloc[1, 3, 5] 这样呢？

答案是错误的。df.iloc[] 的 [[行]，[列]] 里面可以同时接受行和列的位置，如果你直接键入 df.iloc[1, 3, 5] 就会报错。

所以，很简单。如果你想要选择 1，3，5 行，可以这样做。
```python
    df.iloc[[1,3,5]]
```

In [11]:
oddRow=df.iloc[[1,3,5]]
print(oddRow)

   Zip Code  Total Population  Median Age  Total Males  Total Females  \
1     90001             57110        26.6        28468          28642
3     90003             66266        26.3        32631          33635
5     90005             37681        33.9        19299          18382

   Total Households  Average Household Size
1             12971                    4.40
3             15642                    4.22
5             15044                    2.50

### 上述方法是根据行进行元素的选择，如果要根据列来选择元素可以执行下面的命令
```python
    df.iloc[:,column nuber|column numbers list]
```

In [13]:
# choose the fifth column

fifth=df.iloc[:,4]
print(fifth)

# chose the first odd columns

oddCol=df.iloc[:,[1,3,5]]
print(oddCol)

0          1
1      28642
2      26347
3      33635
4      30878
5      18382
6      28931
7      20005
8      17850
9       1926
10     51098
11     11610
12      4143
13      2534
14      9153
15     24818
16     10950
17     25540
18     33016
19     19586
20      1161
21     33963
22     22866
23     25204
24     21288
25     33354
26     22789
27     12658
28     19042
29     19770
       ...
289    15904
290    27902
291    15836
292    15868
293     8198
294     3084
295     2372
296    18195
297     1856
298    26124
299      979
300    27774
301     2492
302      815
303      875
304     3907
305     1543
306     1290
307    20740
308    37167
309    33114
310     6338
311      570
312    38515
313    25742
314    19447
315     1017
316     9419
317      125
318     3632
Name: Total Females, Length: 319, dtype: int64
     Total Population  Total Males  Total Households
0                   1            0                 1
1               57110        28468             12971
2               51223        24876             11731
3               66266        32631             15642
4               62180        31302             22547
5               37681        19299             15044
6               59185        30254             18617
7               40920        20915             11944
8               32327        14477             13841
9                3800         1874              2014
10             103892        52794             22168
11              31103        19493             10327
12              11772         7629              6416
13               7005         4471              4109
14              18986         9833              7420
15              47596        22778             16145
16              23768        12818              9338
17              49310        23770             15493
18              64458        31442             23344
19              38967        19381             16514
20               3951         2790              1561
21              67179        33216             17023
22              45903        23037             10727
23              47452        22248             17903
24              42147        20859             21228
25              67869        34515             24956
26              45151        22362             21929
27              28714        16056             14964
28              38617        19575             13883
29              39316        19546             11156
..                ...          ...               ...
289             30854        14950              9154
290             52735        24833             19315
291             30322        14486              9894
292             32725        16857              8132
293             16763         8565              5370
294              6220         3136              2198
295              4894         2522              1998
296             35533        17338             13062
297              3613         1757              1154
298             51767        25643             15849
299              2031         1052               522
300             54366        26592             18650
301              5077         2585              2080
302              1699          884               623
303              4176         3301               647
304              7993         4086              2729
305              3074         1531              1056
306              2932         1642              1079
307             39341        18601             14038
308             72046        34879             20672
309             70918        37804             20964
310             13033         6695              3560
311              1259          689               569
312             74929        36414             20864
313             50798        25056             15963
314             38158        18711              9690
315              2138         1121               816
316             18910         9491              6469
317               388          263               103
318              7285         3653              1982

[319 rows x 3 columns]

## 5.2 根据索引名选择元素
<br>

除了根据数字索引选择，还可以直接根据标签对应的名称选择。这里用到的方法和上面的 iloc 很相似，少了个 i 为 df.loc[]。

df.loc[] 可以接受的类型有：

 -  单个标签。例如：2 或 'a'，这里的 2 指的是标签而不是索引位置。
 - 列表或数组包含的标签。例如：['A', 'B', 'C']。
 - 切片对象。例如：'A':'E'，注意这里和上面切片的不同支持，首尾都包含在内。
 - 布尔数组。
 - 可返回标签的函数或参数。
 
 ### 备注：对于用户没有设定标签的数组，其默认标签其实和索引是一样的，针对这种情况iloc和loc的参数是相同的。

In [14]:
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=319, step=1)
Index(['Zip Code', 'Total Population', 'Median Age', 'Total Males',
       'Total Females', 'Total Households', 'Average Household Size'],
      dtype='object')

In [15]:
# 因为针对数据而言，行使用的是默认索引，所以所以只是选择行，这里loc与iloc的使用没有差别

print(df.loc[5])
print(df.loc[1:3])
print(df.loc[[1,3,5]])

Zip Code                  90005.0
Total Population          37681.0
Median Age                   33.9
Total Males               19299.0
Total Females             18382.0
Total Households          15044.0
Average Household Size        2.5
Name: 5, dtype: float64
   Zip Code  Total Population  Median Age  Total Males  Total Females  \
1     90001             57110        26.6        28468          28642
2     90002             51223        25.5        24876          26347
3     90003             66266        26.3        32631          33635

   Total Households  Average Household Size
1             12971                    4.40
2             11731                    4.36
3             15642                    4.22
   Zip Code  Total Population  Median Age  Total Males  Total Females  \
1     90001             57110        26.6        28468          28642
3     90003             66266        26.3        32631          33635
5     90005             37681        33.9        19299          18382

   Total Households  Average Household Size
1             12971                    4.40
3             15642                    4.22
5             15044                    2.50

### 从上面的df.columns执行结果来看，数据收集人针对数据是添加了语义化的标签名,除了在参数上使用语义化标签外，loc用法与iloc方法选择列并没有太多的不同；

In [11]:
popNum=df.loc[:,"Total Population"]

print(popNum.head(5))

ts=df.loc[:,"Total Population":"Total Males"]
ts.tail(5)

0        1
1    57110
2    51223
3    66266
4    62180
Name: Total Population, dtype: int64

     Total Population  Median Age  Total Males
314             38158        28.4        18711
315              2138        43.3         1121
316             18910        32.4         9491
317               388        44.5          263
318              7285        30.9         3653

In [15]:
td=df.loc[:,["Total Population","Total Males","Total Age"]]
td.head(5)

   Total Population  Total Males  Total Age
0                 1            0        NaN
1             57110        28468        NaN
2             51223        24876        NaN
3             66266        32631        NaN
4             62180        31302        NaN

## 5.3 数据的删减

在处理数据的时候，在面临有些情况，我们不得不删除数组中部分数据，Pandas提供一下函数用于数据的删除：
```python
         1.df.drop([索引]，axis=?):根据索引名删除数据；
         2.df.drop_duplicates():删除数据中的重复数据；
         3.df.dropna():删除数据中有缺失值得行或列；
```

## 5.4 数据的填充

在真实的生产环境中，我们需要处理的数据文件往往没有想象中的那么美好。其中，很大几率会遇到的情况就是缺失值。缺失值主要是指数据丢失的现象，也就是数据集中的某一块数据不存在。除此之外、存在但明显不正确的数据也被归为缺失值一类。例如，在一个时间序列数据集中，某一段数据突然发生了时间流错乱，那么这一小块数据就是毫无意义的，可以被归为缺失值。

### 5.4.1 检测缺失值
Pandas 为了更方便地检测缺失值，将不同类型数据的缺失均采用 NaN 标记。这里的 NaN 代表 Not a Number，它仅仅是作为一个标记。例外是，在时间序列里，时间戳的丢失采用 NaT 标记。

Pandas 中用于检测缺失值主要用到两个方法，分别是：isna() 和 notna()，故名思意就是「是缺失值」和「不是缺失值」。默认会返回布尔值用于判断。

In [22]:
import numpy as np
import pandas as pd

#create a dataframe
df = pd.DataFrame(np.random.rand(9, 5), columns=list('ABCDE'))

# 插入 T 列，并打上时间戳,将“column”time插入到第一列
df.insert(value=pd.Timestamp('2017-10-3'), loc=0, column='Time')

# 将 1, 3, 5 列的 1，3，5 行置为缺失值
df.iloc[[1, 3, 5, 7], [0, 2, 4]] = np.nan

# 将 2, 4, 6 8 行的 2，4，6 列置为缺失值
df.iloc[[2, 4, 6, 8], [1, 3, 5]] = np.nan
print(df)

        Time         A         B         C         D         E
0 2017-10-03  0.728428  0.519089  0.752957  0.088124  0.391963
1        NaT  0.598972       NaN  0.530464       NaN  0.524171
2 2017-10-03       NaN  0.331239       NaN  0.087761       NaN
3        NaT  0.548077       NaN  0.803766       NaN  0.098108
4 2017-10-03       NaN  0.011935       NaN  0.611398       NaN
5        NaT  0.313816       NaN  0.834941       NaN  0.940328
6 2017-10-03       NaN  0.349780       NaN  0.331600       NaN
7        NaT  0.040045       NaN  0.745002       NaN  0.566959
8 2017-10-03       NaN  0.658828       NaN  0.241482       NaN

In [29]:
a= df.isna()
print(a)

    Time      A      B      C      D      E
0  False  False  False  False  False  False
1   True  False   True  False   True  False
2  False   True  False   True  False   True
3   True  False   True  False   True  False
4  False   True  False   True  False   True
5   True  False   True  False   True  False
6  False   True  False   True  False   True
7   True  False   True  False   True  False
8  False   True  False   True  False   True

In [30]:
b=df.notna()

In [31]:
print(b)

    Time      A      B      C      D      E
0   True   True   True   True   True   True
1  False   True  False   True  False   True
2   True  False   True  False   True  False
3  False   True  False   True  False   True
4   True  False   True  False   True  False
5  False   True  False   True  False   True
6   True  False   True  False   True  False
7  False   True  False   True  False   True
8   True  False   True  False   True  False

In [33]:
b=df.fillna(0)
print(b)

                  Time         A         B         C         D         E
0  2017-10-01 00:00:00  0.475584  0.259771  0.034901  0.491540  0.010381
1                    0  0.465567  0.000000  0.517693  0.000000  0.551515
2  2017-10-01 00:00:00  0.000000  0.212914  0.000000  0.956355  0.000000
3                    0  0.790929  0.000000  0.471999  0.000000  0.998210
4  2017-10-01 00:00:00  0.000000  0.915548  0.000000  0.221661  0.000000
5                    0  0.055812  0.000000  0.126919  0.000000  0.802734
6  2017-10-01 00:00:00  0.000000  0.092874  0.000000  0.530040  0.000000
7                    0  0.336958  0.000000  0.691019  0.000000  0.257575
8  2017-10-01 00:00:00  0.000000  0.466516  0.000000  0.033842  0.000000

### 5.4.2 插值填充
插值是数值分析中一种方法。简而言之，就是借助于一个函数（线性或非线性），再根据已知数据去求解未知数据的值。插值在数据领域非常常见，它的好处在于，可以尽量去还原数据本身的样子。

In [34]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'A': [1.1, 2.2, np.nan, 4.5, 5.7, 6.9],
                   'B': [.21, np.nan, np.nan, 3.1, 11.7, 13.2]})

a=df.interpolate()
print(a)

      A          B
0  1.10   0.210000
1  2.20   1.173333
2  3.35   2.136667
3  4.50   3.100000
4  5.70  11.700000
5  6.90  13.200000

#### 实验

In [25]:
import pandas as pd
df = pd.read_csv("./titanic/train.csv")
#print(df.head())
#print(df.tail(3))
#
#检查是否是na。检查出来只有age和cabin有数据为nan
#print(df.isna())

#查看数据样式
#print(df)

#计算属性为age的平均值
age_averge=df['Age'].mean()
#输出age值
print(age_averge)
dd=df
#dd['Z']=dd['Z'].fillna('lg')
print("Age的平均值：",age_averge)
dd['Age']=dd['Age'].fillna(age_averge)
print(dd)

#填充cabin
#cabin缺失太多删除属性

29.69911764705882
Age的平均值： 29.69911764705882
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
5                                     Moran, Mr. James    male  29.699118
6                              McCarthy, Mr. Timothy J    male  54.000000
7                       Palsson, Master. Gosta Leonard    male   2.000000
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.000000
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.000000
10                     Sandstrom, Miss. Marguerite Rut  female   4.000000
11                            Bonnell, Miss. Elizabeth  female  58.000000
12                      Saundercock, Mr. William Henry    male  20.000000
13                         Andersson, Mr. Anders Johan    male  39.000000
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.000000
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.000000
16                                Rice, Master. Eugene    male   2.000000
17                        Williams, Mr. Charles Eugene    male  29.699118
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.000000
19                             Masselmani, Mrs. Fatima  female  29.699118
20                                Fynney, Mr. Joseph J    male  35.000000
21                               Beesley, Mr. Lawrence    male  34.000000
22                         McGowan, Miss. Anna "Annie"  female  15.000000
23                        Sloper, Mr. William Thompson    male  28.000000
24                       Palsson, Miss. Torborg Danira  female   8.000000
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.000000
26                             Emir, Mr. Farred Chehab    male  29.699118
27                      Fortune, Mr. Charles Alexander    male  19.000000
28                       O'Dwyer, Miss. Ellen "Nellie"  female  29.699118
29                                 Todoroff, Mr. Lalio    male  29.699118
..                                                 ...     ...        ...
861                        Giles, Mr. Frederick Edward    male  21.000000
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.000000
863                  Sage, Miss. Dorothy Edith "Dolly"  female  29.699118
864                             Gill, Mr. John William    male  24.000000
865                           Bystrom, Mrs. (Karolina)  female  42.000000
866                       Duran y More, Miss. Asuncion  female  27.000000
867               Roebling, Mr. Washington Augustus II    male  31.000000
868                        van Melkebeke, Mr. Philemon    male  29.699118
869                    Johnson, Master. Harold Theodor    male   4.000000
870                                  Balkic, Mr. Cerin    male  26.000000
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.000000
872                           Carlsson, Mr. Frans Olof    male  33.000000
873                        Vander Cruyssen, Mr. Victor    male  47.000000
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.000000
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.000000
876                      Gustafsson, Mr. Alfred Ossian    male  20.000000
877                               Petroff, Mr. Nedelio    male  19.000000
878                                 Laleff, Mr. Kristo    male  29.699118
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.000000
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.000000
881                                 Markun, Mr. Johann    male  33.000000
882                       Dahlberg, Miss. Gerda Ulrika  female  22.000000
883                      Banfield, Mr. Frederick James    male  28.000000
884                             Sutehall, Mr. Henry Jr    male  25.000000
885               Rice, Mrs. William (Margaret Norton)  female  39.000000
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket      Fare        Cabin Embarked
0        1      0         A/5 21171    7.2500          NaN        S
1        1      0          PC 17599   71.2833          C85        C
2        0      0  STON/O2. 3101282    7.9250          NaN        S
3        1      0            113803   53.1000         C123        S
4        0      0            373450    8.0500          NaN        S
5        0      0            330877    8.4583          NaN        Q
6        0      0             17463   51.8625          E46        S
7        3      1            349909   21.0750          NaN        S
8        0      2            347742   11.1333          NaN        S
9        1      0            237736   30.0708          NaN        C
10       1      1           PP 9549   16.7000           G6        S
11       0      0            113783   26.5500         C103        S
12       0      0         A/5. 2151    8.0500          NaN        S
13       1      5            347082   31.2750          NaN        S
14       0      0            350406    7.8542          NaN        S
15       0      0            248706   16.0000          NaN        S
16       4      1            382652   29.1250          NaN        Q
17       0      0            244373   13.0000          NaN        S
18       1      0            345763   18.0000          NaN        S
19       0      0              2649    7.2250          NaN        C
20       0      0            239865   26.0000          NaN        S
21       0      0            248698   13.0000          D56        S
22       0      0            330923    8.0292          NaN        Q
23       0      0            113788   35.5000           A6        S
24       3      1            349909   21.0750          NaN        S
25       1      5            347077   31.3875          NaN        S
26       0      0              2631    7.2250          NaN        C
27       3      2             19950  263.0000  C23 C25 C27        S
28       0      0            330959    7.8792          NaN        Q
29       0      0            349216    7.8958          NaN        S
..     ...    ...               ...       ...          ...      ...
861      1      0             28134   11.5000          NaN        S
862      0      0             17466   25.9292          D17        S
863      8      2          CA. 2343   69.5500          NaN        S
864      0      0            233866   13.0000          NaN        S
865      0      0            236852   13.0000          NaN        S
866      1      0     SC/PARIS 2149   13.8583          NaN        C
867      0      0          PC 17590   50.4958          A24        S
868      0      0            345777    9.5000          NaN        S
869      1      1            347742   11.1333          NaN        S
870      0      0            349248    7.8958          NaN        S
871      1      1             11751   52.5542          D35        S
872      0      0               695    5.0000  B51 B53 B55        S
873      0      0            345765    9.0000          NaN        S
874      1      0         P/PP 3381   24.0000          NaN        C
875      0      0              2667    7.2250          NaN        C
876      0      0              7534    9.8458          NaN        S
877      0      0            349212    7.8958          NaN        S
878      0      0            349217    7.8958          NaN        S
879      0      1             11767   83.1583          C50        C
880      0      1            230433   26.0000          NaN        S
881      0      0            349257    7.8958          NaN        S
882      0      0              7552   10.5167          NaN        S
883      0      0  C.A./SOTON 34068   10.5000          NaN        S
884      0      0   SOTON/OQ 392076    7.0500          NaN        S
885      0      5            382652   29.1250          NaN        Q
886      0      0            211536   13.0000          NaN        S
887      0      0            112053   30.0000          B42        S
888      1      2        W./C. 6607   23.4500          NaN        S
889      0      0            111369   30.0000         C148        C
890      0      0            370376    7.7500          NaN        Q

[891 rows x 12 columns]